---
import { Picture } from "@astrojs/image/components";
import type { ShowcaseSite } from "~/types";
import { Icon } from "astro-icon";

export interface Props {
  site: ShowcaseSite;
}

const { site } = Astro.props;

const widths = [1000, 1000];
const sizes = "(min-width: 1024px) 15vw, (min-width: 768px) 10vw, 100vw";

---

<div class="group aspect-square hover:!text-default" >
  <figure class="relative w-full h-full overflow-hidden">
    <Picture
      class="object-cover w-full h-full transition-all duration-300 bg-cover  group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20 rounded-lg "
      src={site.image}
      widths={widths}
      sizes={sizes}
      alt=""
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex flex-col items-center justify-center h-full gap-2 transition-all duration-300 opacity-0 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="text-xl font-extrabold text-center uppercase">
          {site.title}
        </h3>
        <!-- <p class="px-4 py-2 border border-current">{site.url}</p> -->
        <div class="inline-flex">
          <a  class="mr-5" href={site.url}><Icon class="w-10	h-10" name="fa-brands:linkedin" /></a>
          <a class="" href={site.url1}><Icon class="w-10	h-10" name="fa-brands:twitter" /></a>
        </div>
      </div>
    </figcaption>
  </figure>
</div>
